.wrapper {
  position: relative;
  background-color: rgb(116, 220, 46);
  height: 600px;
  width: 360px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.comm-icon {
  position: absolute;
  top: 1%;
  left: 20%;
  background-color: transparent;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;

  border-bottom: 10px solid rgb(78, 145, 33);
}

/* 
todo make border around
.comm-icon::after{
    border: 1px solid rgb(78, 145, 33)
} */

.comm {
  position: absolute;
  top: 0.6%;
  left: 25%;
  color: rgb(78, 145, 33);
  font-size: 12px;
  font-family: comic sans ms;
}

.screen {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  height: 45%;
  width: 315px;
  border-radius: 6px;
  z-index: 1;
}

.lcd {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: gray;
  height: 70%;
  width: 68%;
  border-radius: 4px;
}

.power-icon {
  display: inline-flex;
}

.power-icon span:nth-child(1) {
  height: 6px;
  width: 6px;
  background-color: brown;
  border-radius: 50%;
  position: absolute;
  top: 27%;
  left: 2%;
  z-index: 1;
}
.power-icon span:nth-child(2) {
  height: 6px;
  width: 6px;
  background-color: cadetblue;
  border-radius: 50%;
  position: absolute;
  top: 27%;
  left: 4%;
}
.power-icon span:nth-child(3) {
  height: 6px;
  width: 6px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 27%;
  left: 3.3%;
}
.power-icon span:nth-child(4) {
  height: 6px;
  width: 6px;
  background-color: cadetblue;
  border-radius: 50%;
  position: absolute;
  top: 27%;
  left: 6.8%;
}
.power-icon span:nth-child(5) {
  height: 6px;
  width: 6px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 27%;
  left: 6%;
}
.power-icon span:nth-child(6) {
  height: 6px;
  width: 6px;
  background-color: cadetblue;
  border-radius: 50%;
  position: absolute;
  top: 27%;
  left: 9%;
}
.power-icon span:nth-child(7) {
  height: 6px;
  width: 6px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 27%;
  left: 8.6%;
}

.power {
  position: absolute;
  top: 30%;
  left: 2%;
  color: cadetblue;
  font-family: comic sans ms;
  font-size: 10px;
}

.logo {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: cadetblue;
  font-family: comic sans ms;
  font-weight: bold;
  font-size: 20px;
  text-wrap: nowrap;
}

.logo span:nth-child(1) {
  color: red;
}
.logo span:nth-child(2) {
  color: rgb(141, 60, 199);
}
.logo span:nth-child(3) {
  color: rgb(116, 220, 46);
}
.logo span:nth-child(4) {
  color: yellow;
}
.logo span:nth-child(5) {
  color: rgb(9, 158, 158);
}

.inner-ridge {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: 42%;
  width: 68%;
  border: 1px solid transparent;
  border-top: none;
  border-radius: 4px 4px 24px 24px;
  box-shadow: 0px 1px 50px 0.5px rgb(114, 195, 92);
}

.nintendo-logo {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(95, 178, 40);
  font-family: comic sans ms;
  border: 2px solid rgb(95, 178, 40);
  border-radius: 24px;
  padding-inline: 8px;
  padding-block: 0px;
  font-weight: 700;
}

.trademark {
  position: absolute;
  left: 88%;
  top: 10%;
  font-size: 6px;
}

.button {
  display: flex;
  font-family: comic sans ms;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 1px solid tranparent;
  /* border-style: outset; */
  border-radius: 50%;
  background-color: rgb(48, 45, 45);
  width: 30px;
  aspect-ratio: 1 / 1;
  box-shadow: 0px 1px 1px 0.5px rgb(30, 32, 30),
    0.5px 0.5px 2px 0px #ffffff inset;
  color: rgb(13, 12, 12);
}

.button-a {
  top: 60%;
  right: 12%;
}

.button-b {
  top: 63%;
  right: 25%;
}

.select-start-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: absolute;
  bottom: 13%;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-evenly;
  font-size: 10px;
  text-transform: uppercase;
  color: rgb(78, 145, 33);
}

.select,
.start {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.start span,
.select span {
  margin: auto;
  background-color: rgb(48, 45, 45);
  border: 1px solid transparent;
  border-radius: 40%;
  /* border-radius: 1.4rem; */
  width: 18px;
  height: 4px;
  box-shadow: 0px 1px 1px 0.5px rgb(30, 32, 30),
    0.2px 0.2px 1px 0px #ffffff inset;
}
